{% extends 'base.html' %}
{% block head %}
<meta name="description" content="tatem2 это сайт на котором вы можете бесплатно генерировать музыку и использовать в своих целях">
{% endblock %}
{% block body %}
<div class='center'>
<h2 class='header'>Tatem Music</h2>
<h6><br>
Tatem Music - это площадка на которой вы сможете бесплатно генерировать музыку,
а позже использовать в своих целях, но мы вас убедительно просим также указывать Tatem Music в создании этих мелодий.
Этим вы сделаете чуточку популярней нашу площадку тем самым мотивируя разрабатывать дальше.
<br><br>
ВАЖНАЯ ИНФОРМАЦИЯ<br>
Мы не использует нейросети, а применяет алгоритм.<br>
Наш проект ещё находится на ранних стадиях разработки и продолжает разрабатываться и совершенствоваться, поэтому просим не судить строго.<br>
Для того чтобы сгенерировать музыку, вам нужно зарегистрироваться или войти, для этого нажмите "Перейти в меню ".
<br><br>
<!--
<a href="https://tatem.pythonanywhere.com/project/apptatemmusic/">Также вы можете скачать Android приложение Tatem Music.</a>
-->
</h6><br></div>
<div class='center'>
    <h4><a href="{% url 'menu' %}">Перейти в меню</a></h4>
</div>
{% endblock %}